.bad-button {
  width: 20rem;
  height: 4rem;
  margin: 1rem 0.5rem 0 0.5rem;
  align-self: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--yellow);
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 1rem;
}
