h1 {
  border-bottom: 1px solid var(--orange);
  margin-bottom: 0;
  padding-bottom: 1rem;
}

main {
  padding: 3em;
}

section {
  border-bottom: 1px solid var(--orange);
  padding: 2rem 0 2rem 0;
}

.flex {
  display: flex;
  border: 1px dashed var(--white);
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.grid {
  display: grid;
  border: 1px dashed var(--white);
  grid-gap: 1rem;
}

.grid.auto {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.padding-top {
  padding-top: 1rem;
}

.align-center {
  align-items: center;
}

.ex-1__button {
  width: 20rem;
  margin-top: 1rem;
}
.ex-1__button:first-of-type {
  margin-top: 0;
}

.ex-2__button {
  width: 20rem;
  margin-right: 1rem;
}
.ex-2__button:last-of-type {
  margin-right: 0;
}
