body {
  margin: 0;
  background-color: var(--gray);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --purple: #bf4b75;
  --blue: #515ea6;
  --green: #1ba68c;
  --yellow: #f2b807;
  --orange: #f27127;
  --white: #f0f0eb;
  --gray: #d9d9d9;
}
